<section class="section-cards">
  <main>
    <img src="/images/test/1.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      定制蓝色短袖衫
    </h2>
    <p>休闲商务短袖T恤衫男女同款可定制公司服装定做夏季热销.</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/first"> <span>详情</span></a>
      <h4>价格: 30-40元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/2.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      休闲运动裤短裤
    </h2>
    <p>复古简约纯色运动短裤男潮牌街头宽松阔腿基础款五分卫裤</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/second"> <span>详情</span></a>

      <h4>价格: 36元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/3.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      休闲运动裤短裤-黑色款
    </h2>
    <p>复古简约纯黑色运动短裤男潮牌街头宽松阔腿基础款五分卫裤</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/third"> <span>详情</span></a>

      <h4>p价格: 36元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/4.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      吸湿排汗 速干 超轻 透气 冰感短袖
    </h2>
    <p>工作服T恤定制翻领polo衫文化广告工装企业纯棉短袖刺绣印字logo</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/fourth"> <span>详情</span></a>

      <h4>价格: 45元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/5.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      黏贴 机绣 热转印 直喷 丝网印刷
    </h2>
    <p>夏季t恤定制纯棉短袖工衣广告文化衫订做工作服装diy印字logo团队</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/fifth"> <span>详情</span></a>

      <h4>价格: 39元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/6.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      健美服装,队服系列,综训服装,俱乐部
    </h2>
    <p>polo衫t恤定制工作服装印字刺绣logo餐饮洗车店工衣文化广告短袖</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/sixth"> <span>详情</span></a>

      <h4>价格: 25元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/7.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      【A款凉感冰丝棉】【两年质保放心购】 A款-男款-黑色
    </h2>
    <p>高端Polo衫定制工作服短袖T恤纯棉印字logo定做男女企业展会衣服</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/seven"> <span>详情</span></a>

      <h4>价格: 33元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/11.png" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      拨云见日,全班手绘推荐校服
    </h2>
    <p>衬衫班服定制T恤毕业初高中小学生校运动会开幕式翻领短袖订套装</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/eigth"> <span>详情</span></a>

      <h4>价格: 45元</h4>
    </span>
  </main>

  <main>
    <img src="/images/test/12.jpg" alt="" />
    <h2
      class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
    >
      2024年夏季工装定制/DIY校服
    </h2>
    <p>冰丝反光条T恤工作服定制印字建筑施工短袖4S汽修店物流运输工装</p>
    <span>
      <a transition:animate="slide" class="button" href="/md/nine"> <span>详情</span></a>

      <h4>价格: 43元</h4>
    </span>
  </main>
</section>


<style>
  .section-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  main {
    width: 320px;
    height: 420px;
    border-radius: 8px;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(14, 13, 13, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  main h2 {
    text-align: center;
  }
  main p {
    font-size: 13px;
    max-width: 310px;
    text-align: center;
  }

  main:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
  }

  main img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
  }

  main span {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .button {
    --color: #ffffff;
    width: 65px;
    height: 28px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, blue, green);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 330px) {
    main{
      width: 300px;
    }
  }
</style>
